.navbar {
  padding: 20px 70px;
  background: #fff;
  z-index: 1020;
}

.cart-icon-nav {
  margin-left: 20px;
}

.nav-btn {
  margin-right: 20px;
}

.navbar-brand{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  color: #000 !important;
}

.account-image{
  width: 20%;
  margin-right: 5px;
}