:root {
  --orange: #fd9940;
  --darkorange: #dd7d25;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

.brands-homepage {
	padding:100px;
}


.cardars {
  box-sizing: border-box;
  display: grid;
  grid-auto-columns: 40%;
  grid-column-gap: 2px;
  grid-auto-flow: column;
  padding: 15px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.cardars::-webkit-scrollbar {
  display: none;
}

.cardar {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  width: 22vw;
  cursor: pointer;

  img {
    object-fit: cover;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}



@media (min-width: 500px) {
  .cardars {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cardars {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cardars {
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
  }
}

.latest {
  display: block !important;
  padding: 35px;

  button {
    border: 2px solid black !important;
    padding: 5px 20px !important;
    border-radius: 209px !important;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: auto;
  }
}

.cardar-info {
  padding: 8px 8px;
  h3 {
    font-size: 1em !important;
  }
  h1 {
    font-size: 1.6vw !important;
    text-transform: capitalize;
  }
  p {
    display: inline-block;
  }
}

.latest h2 {
  font-size: 4vw !important;
}

// .brands-homepage .brands-hompage-title h2 {
// 	font-size: 4rem;
//     letter-spacing: 7px;
//     font-variant-ligatures: none;
//     line-height: 37px;
//     text-transform: initial;
// }

// brands-homepage .high-fashion {
// 	background: green;
// 	padding: 20px;
// }

// CATEGORIES

.categories {
    padding: 2.2em;
	background-color: #e7e7e7;
    text-align: center;
}
.categories h2 {
    font-size: 4.5vw !important;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #2c2525 !important;
    font-size: 2em;
}

.categories p {
    font-size: calc(4px + 1.2vw);
    font-weight: 300;
    color: #e7e7e7;
}

.categories button {
    margin: 12px 0;
    border: 2px solid black !important;
    text-align: center !important;
    padding: 5px 20px !important;
    border-radius: 209px !important;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
}

.categories button:hover, .categories button:focus {
    transition: 0.2s ease-in;
    box-shadow: 0 0.5em 0.5em -0.4em #ec1111;
    border-radius: 12px !important;
    transform: translateY(-0.25em);
}


.categories-image {
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  overflow: hidden;
}



.categories-image p {
    text-transform: uppercase;
    font-size: 4.2rem;
    font-weight: 600;
    color: #fcf3f3;
    letter-spacing: 3px;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  
  .categories-image .content-overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .categories-image:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .categories-image:hover .content-details{
    top: 70%;
    left: 30%;
    opacity: 1;
  }
  
  .content-details h3 {
    color: #fffffff5 !important;
    font-weight: 700;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(1em + 1vw) !important;   
}
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-right{
    left: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .icon-go {
    rotate: (-180deg);
    color: wheat;
    cursor: pointer;
    margin-bottom: 25px;
    display: inline-flex;
  }

  .icon-go:hover{
    transform: scale(1.5);
    animation: arrow-right .5s cubic-bezier(.36,.07,.57,.99) infinite;
  }

  @keyframes arrow-right {
	0% {
		transform: scale(1.5) translateX(0);
	}
	33% {
		transform: scale(1.5) translateX(-5px);
	}
	66% {
		transform: scale(1.5) translateX(5px);
	}
	100% {
		transform: scale(1.5) translateX(0);
	}
}

.categories-image1 {
    max-width: 90vw;
    min-height: 50vh;
    margin: 20px auto;
}

.categories-image2 {
    margin: 12px 2.3%;
    min-height: 50vh;
 p {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 600;
    color: #fcf3f3;
    letter-spacing: 3px;
    position: absolute;
    bottom: 8px;
    left: 16px;
 }
}

.categories-image3 {
    height: 64vh;
    margin-top: 12px;
  p {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    color: #fcf3f3;
    letter-spacing: 3px;
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
}

.poster {
  img {
  filter: grayscale(100%);
  object-fit: cover;
  aspect-ratio: 16/9;
  height: 44vw; 
}

  p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    color: #e7e7e7;
    letter-spacing: 3px;
    font-weight: 800;
    text-shadow: -1px -1px 0px #121212,
    3px 3px 0px #121212,
    6px 6px 0px #00000055;
    text-transform: uppercase;
    width: 1em;
  }
}


.homepage {
  max-width: 1280px;
  margin: 0 auto;
  max-height: 44vw;
  position: relative;
}




// SLIDER SECTION
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



// newsletter popup
@media (min-width: 768px) {
  .modal-dialog-centered {
    max-width: 800px;
  }
}

@media (max-width: 767px) {
  .modal-dialog-centered {
    max-width: 90%;
    max-height: 70vh;
  }
  .d-sm-none {
    display: block !important;
  }
}

.classic-section-text {
  margin-top: 30px
}

.homepage-button {
  background: transparent;
  color: white !important;
  padding: 15px 35px;
  border: 1px solid white;
  text-transform: capitalize;
}

.homepage-button:hover {
  background: #fff;
  color: #000;
  border-color: black;
  transition: 0.3s;
  text-decoration: none;
}

.top-section-link {
  text-decoration: underline;
  color: #fff !important;
}

.top-section-link:hover {
  color: gray;
  transition: 0.3s;
}