// (Login, SignUp, forgetPassword,resetPassword) => Styles



.signup-form {
  .checkbox {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 601px) {
  .signup-form{
    padding: 10px 100px;
  }
}

@media screen and (max-width: 600px) {
  .signup-form{
    padding: 10px 10px;
  }
}

.signup-provider {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.google-btn,
.facebook-btn {
  @include flex();
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  width: 300px;
  max-width: 350px;
  border: $border-primary;
  border-radius: $border-radius-default;
  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: unset;
  }

  .btn-text {
    margin-left: 5px;
  }

  .google-icon,
  .facebook-icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 601px) {
  .login-form{
    padding: 10px 100px;
  }
}

@media screen and (max-width: 600px) {
  .login-form{
    padding: 10px 10px;
  }
}

.embtn {
  background: #000 !important; 
  color: #fff
}

.embtn:hover {
  background: #1e1d1d !important;
  transition: 0.2s
}





// slider
#slider {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  width: 200px;
  height: 100px;
}

@media screen and (min-width: 400px) {
  #slider {
    width: 400px;
    height: 200px;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
  }
  
  #slider {
    width: 100%;
    height: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure .image {
  width: 20%;
  float: left;
}

/* Calculado para 5 items */
@keyframes slider {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}


// login right
.login-right {
  padding: 5%;
}

.signup-provider{
  
}

.sign-up-button{
  text-align: center;
  margin-top: 25%;
  span {
    color: blue;
    cursor: pointer
  }
}


.login-btn {
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 2% 0;
  background: #000;
}

.forgot-password-links {
  text-decoration: underline;
  font-size: 12px;
  color: #000;
}

@media (max-width: 600px) {
  #slider {
    display: none;
  }
}


// forgot password
.forgot-password-form {
  margin: auto;
  padding: 200px 100px;
  text-align: center;
}

.forgot-password-container {
  margin: auto;
  text-align: center
}

.forgot-password-container input {
  width: 50%;
}

.login-right .forgot-password-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10%;
}


// show password
#showText{
  position: absolute;
  right: 40px;
  top: 28%;
  transform: translateY(-50%);
  color: #39CDCC;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

