// (Login, SignUp, forgetPassword,resetPassword) => Styles



.signup-form {
  .checkbox {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 601px) {
  .signup-form{
    padding: 10px 100px;
  }
}

@media screen and (max-width: 600px) {
  .signup-form{
    padding: 10px 10px;
  }
}

.signup-provider {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.google-btn,
.facebook-btn {
  @include flex();
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  width: 300px;
  max-width: 350px;
  border: $border-primary;
  border-radius: $border-radius-default;
  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: unset;
  }

  .btn-text {
    margin-left: 5px;
  }

  .google-icon,
  .facebook-icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 601px) {
  .login-form{
    padding: 10px 100px;
  }
}

@media screen and (max-width: 600px) {
  .login-form{
    padding: 10px 10px;
  }
}

.embtn {
  background: #000 !important; 
  color: #fff
}

.embtn:hover {
  background: #1e1d1d !important;
  transition: 0.2s
}

