@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");







.logo {
	width: 116px;
}

.headers {
	display: flex;
	align-items: center;
	height: 62px;
	width: 100%;
	white-space: nowrap;
	flex-shrink: 0;
	font-weight: 600;
	font-size: 15px;
	border-bottom: 1px solid rgba(44, 45, 42, 0.25);
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 6;
	
	@media (max-width: 575px) {
		width: calc(100% + 20px);
    margin-left: -10px;
	}

	&-menu {
		display: flex;
		align-items: center;
		margin-left: auto;
		
		@media screen and (max-width: 740px) {
			display: none;
		}

		a:not(:first-child) {
			margin-left: 30px;
		}
	}

	.menu-icon {
		display: flex;
		align-items: center;
		margin-right: 20px;

		svg {
			width: 22px;
		}
	}

	&-icons {
		margin-left: auto;
		display: flex;
		align-items: center;

		svg {
			width: 18px;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}

.main {
	padding: 42px 0 30px;
	display: flex;
	flex-grow: 1;
	position: relative;

	@media screen and (max-width: 930px) {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	&-header {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 4px;
		font-weight: 600;
		transition-delay: 0.2s;
	}

	&-title {
		font-family: var(--italic-font);
		font-size: 100px;
		font-weight: 400;
		margin-top: 10px;
		line-height: 1em;
		transition-delay: 0.3s;
	}

	&-subtitle {
		font-family: var(--italic-font);
		font-weight: 400;
		font-size: 32px;
		margin-top: 14px;
		margin-bottom: 60px;
		transition-delay: 0.4s;
	}

	&-content {
		&__title {
			font-size: 26px;
			font-family: var(--italic-font);
			font-style: italic;
			margin-bottom: 14px;
			transition-delay: 0.2s;
		}

		&__subtitle {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 24px;
			letter-spacing: -0.01em;
			transition-delay: 0.3s;
		}

		.more-menu {
			font-size: 13px;
			font-weight: 500;
			display: flex;
			align-items: center;
			transition-delay: 0.4s;
			
			@media screen and (max-width: 930px) {
				justify-content: center;
			}

			svg {
				width: 28px;
				height: 18px;
				margin-left: 10px;
			}
		}
	}
}

.center {
	display: flex;
	margin-left: 120px;
	position: relative;
	flex-shrink: 0;

	@media screen and (max-width: 930px) {
		margin-left: 0;
		margin-bottom: 56px;
	}

	.bottle-bg {
		width: 320px;
		height: 450px;
		object-fit: cover;
		border-radius: 160px;

		@media screen and (max-width: 930px) {
			width: 260px;
			height: 390px;
		}
		@media screen and (max-width: 575px) {
			width: 220px;
			height: 340px;
		}
	}

	.bottle-img {
		position: absolute;
		top: 25%;
		left: 0;
		transform: scale(1.6);
	}
}


.button-wrapper {
	position: absolute;
	right: 30px;
	bottom: 20px;
	z-index: 1;
	display: flex;
	align-items: center;

	@media screen and (max-width: 930px) {
		top: 0;
		left: 0;
		width: 100%;
		justify-content: space-between;
		padding: 0 60px;
	}
	
	@media screen and (max-width: 575px) {
		padding: 0 20px;
	}

	svg {
		width: 28px;
	}

	

	
}





// MY STYLES
.header-icons {
	float: right
}

navbar {
	height: 50px;
	padding: 0;
	margin: 0;
}




/*my styles*/


@media (min-width: 768px) {
	.navbar-top {
		padding-top: 3px;
		border-bottom: 1px solid #84590C;
	}

	.navbar-top p {
		text-align: center;
		text-transform: uppercase;
	}

	.second-nav {
		padding: 5px 50px;
	}

	.third-nav {
		padding-top: 15px;
		padding-right: 50px;
		padding-left: 50px;
		border-bottom: 2px solid #84590C
	}

	.horizontal-list {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	.horizontal-list li {
	  display: inline-block;
	  margin-right: 10px;
	  text-transform: capitalize;
	}

	.horizontals-list {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	  width: 100%;
	}

	.horizontals-list li {
	  display: inline-block;
	  margin-right: 7%;
	  text-transform: capitalize;
	}

	.horizontals-list li a {
		font-size: 15px;
		font-weight: 600;
	}

	.horizontals-list li a:hover {
		text-decoration: none;
		color: #84590C;
		transition: 0.2s
	}
	.nav-category {
		background: #84590C;
		color: #fff !important;
		text-transform: capitalize;
		width: 40%;
		padding: 10px;
	}

	.nav-input {
		height: 15px !important;
	}

	.mobile-menu {
		display: none;
	}

	.full-size-dropdown {
	  position: absolute;

	  left: 0;
	  width: 100%;
	  background-color: #ffffff;
	  border: 1px solid #ccc;
	  z-index: 1100; /* Ensure the dropdown appears above other content */
	  padding: 20px;
	  box-sizing: border-box; /* Ensure padding is included in width */
	}

	.full-size-dropdown ul {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	.full-size-dropdown ul li {
	  padding: 10px;
	  text-transform: capitalize;
	}

	.full-size-dropdown ul li:last-child {
	  border-bottom: none; /* Remove border from the last item */
	}

	.dropdown-title {
	  margin-bottom: 10px;
	}

	.dropdown-title p {
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  font-weight: 700;
	  font-size: 20px;
	}

	.dropdown-image {
	  margin-top: 5%;
	}

	.dropdown-image p {
	  text-transform: uppercase;
	  text-align: center;
	  margin-top: 5px;
	}
}

@media (max-width: 767px) {
	.full-size-dropdown {
		display: none;
	}
	.mobile-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-top {
		padding-top: 2px;
		border-bottom: 1px solid #84590C;
	}
	
	.navbar-top p {
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
	}

	.second-nav {
		display: none
	}

	.third-nav {
		display: none
	}
}






.autosuggest-container {
  width: 100%;
  /* Add other styling as needed */
}

.autosuggest-input {
  width: 100%;
  /* Add other styling as needed */
}

.cart-icon-size{
	width: 100px;
	height: 100px;
	font-size: 100px;
}


/*all categories dropdown*/

