/* start product dashboard styles */
.product-dashboard {
  .p-list {
    .product-box {
      height: 120px;
      max-height: 120px;
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;
      @include transition();

      &:hover {
        background-color: $secondary-bg;
        @include transition();
      }

      .item-image {
        width: 120px;
        min-width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: $border-radius-default;
      }

      .product-desc {
        @include text-ellipsis(2);
      }
    }
  }
}
/* end product dashboard styles */

/* start product list styles */
.product-list {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-container {
    background-color: $white;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-default;
    height: 100%;

    .item-box {
      height: 100%;
      position: relative;

      .add-wishlist-box {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
      }

      .item-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1 auto;
      }

      .item-footer {
        min-height: 50px;
      }

      .item-image-container {
        overflow: hidden;
        position: relative;

        .item-image-box {
          padding-bottom: 100%;
          position: relative;
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          background-color: $white;
          -webkit-filter: brightness(0.975);
          filter: brightness(0.975);

          .item-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .item-body {
        flex: 1 1 auto;
        .item-details {
          display: flex;
          flex-direction: column;
          // height: 100%;

          .item-name {
            margin-bottom: 8px;
            @include text-ellipsis(1);
          }

          .item-desc {
            @include text-ellipsis(2);
          }

          .by {
            margin-bottom: 5px;
            color: $font-subtext-color !important;

            span {
              font-weight: $font-weight-normal;
            }
          }
        }
      }
    }
  }
} 








/* my styles starts here*/

@media screen and (max-width: 720px) {
   .container {
     grid-template-columns: 1fr;
     margin: 50px 30px;
  }
}
 .cards {
   position: relative;
   padding: 10px;
   background: white;
   display: grid;
   box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
   transition: 0.2s ease-in;
   width: 31%;
   float: left;
   margin:1%;
   height:40vh
}
 .cards .card-content {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.cards .card-content .top-bar {
  width: calc(100% - 40px);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.cards .card-content .price-text {
  font-weight: 900
}

 .cards .card-content .top-bar .float-right {
   float: right;
}
 .cards .card-content .img {
   width: 100%;
   justify-content: bottom;
   align-content: bottom;
   text-align: center;
}
 .cards .card-content .img img {
   max-width: 100%;
   max-height: 220px;
}
 .cards .card-description {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.1em;
   width: calc(100% - 20px);
}
 .cards .card-description .title {
   text-transform: uppercase;
   text-align: left;
}
 .cards .card-description .cart {
   float: right;
   cursor: pointer;
}
 .cards .card-footer {
   text-transform: uppercase;
   padding: 0.3em;
   border-top: 0.5px solid #ececec;
   letter-spacing: 0.1em;
   font-size: 11px;
   color: white;
   justify-items: left;
   align-items: center;
   display: flex;
   background: transparent
}
 .cards .card-footer .span {
   margin: 5px;
   width: auto;
   background: #dedede;
   padding: 4px 7px;
   border-radius: 2px;
   font-weight: 100;
   cursor: pointer;
}
 .cards .card-footer .span:hover {
   background: #aaa;
}
 .cards:hover {
   transition: 0.2s ease-in;
   transform: translateY(-10px);
   box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}
 



/*my styles ends here*/







/* end product list styles */

/* start product page styles */
.product-page {
  .main {
    background-color: $theme-white;
  }
}

.product-shop {
  .stock {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: $white;
    border-bottom-left-radius: $border-radius-default;
  }

  .product-container {
    background-color: $white;
    padding: 20px;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-default;
    @include flex();
    flex-direction: column;
    height: 100%;
  }

  .review-container {
    background-color: $white;
    padding: 20px;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-default;
    @include flex();
    flex-direction: column;
    height: 100%;
  }

  .item-box {
    .item-name {
      font-size: $font-size-huge !important;
    }

    .item-details {
      .item-desc {
        color: $font-custom-color !important;
        word-break: break-all;
      }

      .price {
        font-size: $font-size-x-huge;
      }
    }

    .item-actions {
      margin-top: 20px;
    }
  }
}
/* end product page styles */

/* start product common styles */
.item-box {
  .item-link {
    display: block;

    .item-name {
      &:hover {
        color: $font-custom-hover-color !important;
      }
    }
  }

  .item-name {
    color: $primary-color !important;
    font-size: $font-size-heading-small !important;
    font-weight: $font-weight-medium;
    margin: 0px;
  }

  .item-label {
    color: $font-custom-color;
    font-weight: $font-weight-normal;
    text-transform: capitalize;
  }

  .item-value {
    color: $font-custom-color;
    font-weight: $font-weight-medium;
    font-size: $font-size-large;
  }

  .price {
    color: $font-custom-color;
    font-weight: $font-weight-normal;
    font-size: $font-size-huge;
  }

  .by {
    text-transform: capitalize;
  }
}

.stock {
  font-weight: $font-weight-normal;
}

.in-stock {
  color: $primary-color;
}

.out-of-stock {
  color: $theme-bright-red;
}
/* end product common styles */



/* slider */
.slider{
  width: 600px; /*Same as width of the large image*/
  /*Instead of height we will use padding*/
  padding-top: 520px; /*That helps bring the labels down*/
  
  /*margin: 50px auto;*/
  
  /*Lets add a shadow*/
}


/*Last thing remaining is to add transitions*/
.slider>img{
  position: absolute;
  left: 0; top: 0;
  transition: all 0.5s;
  height:100.5%;
  width:100.5%
}

.slider input[name='slide_switch'] {
  display: none;
  background-color: yellow  
}

.slider label {
  /*Lets add some spacing for the thumbnails*/
  margin: 18px 15px 0 0;
  border: 3px solid #999;
  float: left;
  cursor: pointer;
  transition: all 0.5s;
  
  /*Default style = low opacity*/
  opacity: 0.6;
  background-color: green
}

.slider label img{
  display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
  opacity: 0;
  transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
}