/* start product dashboard styles */
.product-dashboard {
  .p-list {
    .product-box {
      height: 120px;
      max-height: 120px;
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;
      @include transition();

      &:hover {
        background-color: $secondary-bg;
        @include transition();
      }

      .item-image {
        width: 120px;
        min-width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: $border-radius-default;
      }

      .product-desc {
        @include text-ellipsis(2);
      }
    }
  }
}
/* end product dashboard styles */

/* start product list styles */
.product-list {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-container {
    background-color: $white;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-default;
    height: 100%;

    .item-box {
      height: 100%;
      position: relative;

      .add-wishlist-box {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
      }

      .item-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1 auto;
      }

      .item-footer {
        min-height: 50px;
      }

      .item-image-container {
        overflow: hidden;
        position: relative;

        .item-image-box {
          padding-bottom: 100%;
          position: relative;
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          background-color: $white;
          -webkit-filter: brightness(0.975);
          filter: brightness(0.975);

          .item-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .item-body {
        flex: 1 1 auto;
        .item-details {
          display: flex;
          flex-direction: column;
          // height: 100%;

          .item-name {
            margin-bottom: 8px;
            @include text-ellipsis(1);
          }

          .item-desc {
            @include text-ellipsis(2);
          }

          .by {
            margin-bottom: 5px;
            color: $font-subtext-color !important;

            span {
              font-weight: $font-weight-normal;
            }
          }
        }
      }
    }
  }
} 








/* my styles starts here*/

@media screen and (max-width: 720px) {
   .container {
     grid-template-columns: 1fr;
     margin: 50px 30px;
  }
}

@media screen and (min-width: 992px) {
  .cards {
    width: 23%;
    margin-right: 2%;
    position: relative;
  }
  
  .cards:hover .overlay {
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }

  .img {
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #020D1F;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay:hover .shop-now {
    display: block
  }

  .shop-now {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #fff;
  }
}

@media screen and (min-width: 719px) and (max-width: 991px) {
  .cards {
    width: 31.3%;
    margin-right: 2%;
    position: relative;
  }

  .cards:hover .overlay {
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }

  .img {
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #020D1F;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay:hover .shop-now {
    display: block
  }

  .shop-now {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #fff;
  }
}

@media screen and (min-width: 601px) and (max-width: 719px) {
  .cards {
    width: 48%;
    margin-right: 2%;
    position: relative;
  }

  .cards:hover .overlay {
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }

  .img {
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #020D1F;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay:hover .shop-now {
    display: block
  }

  .shop-now {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #fff;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    width: 48%;
    margin-right: 2%;
    position: relative;
  }

  .cards:hover .overlay {
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }

  .img {
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #020D1F;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay:hover .shop-now {
    display: block
  }

  .shop-now {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #fff;
  }

  .product-filter {
    margin-top: 10%
  }
}






 .cards .card-content {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background: #f1f1f1;
   margin: 10px;
   padding: 20px 0;
}
.cards .card-content .top-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 40px;
}

.top-bar {
  background-color: #84590C;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card-content .price-text {
  font-weight: 900
}

 .cards .card-content .top-bar .float-right {
   float: right;
}

@media screen and (min-width: 601px) {
  .cards {
     position: relative;
     padding: 10px;
     display: grid;
     transition: 0.2s ease-in;
     float: left;
     border: 1px solid #fff;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     margin-bottom: 5%;
  }
  .cards .card-content .img {
     width: 100%;
     justify-content: bottom;
     align-content: bottom;
     text-align: center;
  }
   .cards .card-content .img img {
     max-width: 100%;
     max-height:350px;
  }
  .cards .card-description {
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: 400;
     font-size: 14px;
     letter-spacing: 0.1em;
     width: 100%;
     text-align: center;
  }
  .cards .card-description .title {
     text-transform: uppercase;
     text-align: center;
     width: 100%
  }

}
 .cards .card-description .cart {
   float: right;
   cursor: pointer;
}
 .cards .card-footer {
   text-transform: uppercase;
   padding: 0.3em;
   border-top: 0.5px solid #ececec;
   letter-spacing: 0.1em;
   font-size: 11px;
   color: white;
   justify-items: left;
   align-items: center;
   display: flex;
   background: transparent
}
 .cards .card-footer .span {
   margin: 5px;
   width: auto;
   background: #dedede;
   padding: 4px 7px;
   border-radius: 2px;
   font-weight: 100;
   cursor: pointer;
}
 .cards .card-footer .span:hover {
   background: #aaa;
}
 .cards:hover {
   transition: 0.2s ease-in;
   transform: translateY(-10px);
   box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}
 



/*my styles ends here*/


@media screen and (min-width: 601px) {
  .product-shop {
    padding: 100px 50px
  }
}

@media screen and (max-width: 600px) {
  .product-shop {
    padding: 100px 20px
  }
}




/* end product list styles */

/* start product page styles */

.product-shop-container {
  padding: 20px 50px;
  margin-bottom: 20%;
}


.product-page {
  .main {
    background-color: $theme-white;
  }
}

.product-shop {
  .stock {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: $white;
    border-bottom-left-radius: $border-radius-default;
  }

  .product-container {
    background-color: $white;
    padding: 20px;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-default;
    @include flex();
    flex-direction: column;
    height: 100%;
  }

  .review-container {
    background-color: $white;
    padding: 20px;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-default;
    @include flex();
    flex-direction: column;
    height: 100%;
  }

  .item-box {
    .item-name {
      font-size: $font-size-huge !important;
    }

    .item-details {
      .item-desc {
        color: $font-custom-color !important;
        word-break: break-all;
      }

      .price {
        font-size: $font-size-x-huge;
      }
    }

    .item-actions {
      margin-top: 20px;
    }
  }
}
/* end product page styles */

/* start product common styles */
.item-box {
  .item-link {
    display: block;

    .item-name {
      &:hover {
        color: $font-custom-hover-color !important;
      }
    }
  }

  .item-name {
    color: #000 !important;
    font-size: $font-size-heading-small !important;
    font-weight: $font-weight-medium;
    margin: 0px;
    text-transform: uppercase;
  }

  .item-label {
    color: $font-custom-color;
    font-weight: $font-weight-normal;
    text-transform: capitalize;
  }

  .item-value {
    color: $font-custom-color;
    font-weight: $font-weight-medium;
    font-size: $font-size-large;
  }

  .price {
    color: $font-custom-color;
    font-weight: $font-weight-normal;
    font-size: $font-size-huge;
  }

  .by {
    text-transform: capitalize;
  }
}

.stock {
  font-weight: $font-weight-normal;
}

.in-stock {
  color: #fff;
  background: #000 !important;
}

.out-of-stock {
  color: $theme-bright-red;
}
/* end product common styles */



/* slider */
.slider{
  width: 600px; /*Same as width of the large image*/
  /*Instead of height we will use padding*/
  padding-top: 520px; /*That helps bring the labels down*/
  
  /*margin: 50px auto;*/
  
  /*Lets add a shadow*/
}

/*Last thing remaining is to add transitions*/
.slider>img{
  position: absolute;
  left: 0; top: 0;
  transition: all 0.5s;
  height:100%;
  width:100%
}

.slider input[name='slide_switch'] {
  display: none;
  background-color: yellow  
}

.slider label {
  /*Lets add some spacing for the thumbnails*/
  margin: 18px 15px 0 0;
  border: 3px solid #999;
  float: left;
  cursor: pointer;
  transition: all 0.5s;
  
  /*Default style = low opacity*/
  opacity: 0.6;
  background-color: green
}

.slider label img{
  display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
  opacity: 0;
  transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
}


/*accordion */

#container {
    margin: 0 auto;
    width: 50%;
}
#accordion {
  margin-top: 5% 0;
}
#accordion input {
  display: none;
}
#accordion label {
  background: transparent;
  border-radius: .25em;
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: block;
  margin-bottom: .125em;
  padding: 20px 10px;
  z-index: 20;
}
#accordion label span {
  float: right
}

#accordion input:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #000;
}
#accordion article {
  background: #f7f7f7;
  height:0px;
  overflow:hidden;
  z-index:10;
}
#accordion article p {
  padding: 1em;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  height: auto;
  margin-bottom: .125em;
}

/*2*/
#accordions {
  margin-top: 5% 0;
}
#accordions input {
  display: none;
}
#accordions label {
  background: transparent;
  border-radius: .25em;
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: block;
  margin-bottom: .125em;
  padding: 20px 10px;
  z-index: 20;
}
#accordions label span {
  float: right
}

#accordions input:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #000;
}
#accordions #article {
  background: #f7f7f7;
  height:0px;
  overflow:hidden;
  z-index:10;
}
#accordions #article p {
  padding: 1em;
}
#accordions input:checked #article {
}
#accordions input:checked ~ #article {
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  height: auto;
  margin-bottom: .125em;
}


/*3*/
#accordionss {
  margin-top: 5% 0;
}
#accordionss input {
  display: none;
}
#accordionss label {
  background: transparent;
  border-radius: .25em;
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: block;
  margin-bottom: .125em;
  padding: 20px 10px;
  z-index: 20;
}
#accordionss label span {
  float: right
}

#accordionss input:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #000;
}
#accordionss article {
  background: #f7f7f7;
  height:0px;
  overflow:hidden;
  z-index:10;
}
#accordionss article p {
  padding: 1em;
}
#accordionss input:checked article {
}
#accordionss input:checked ~ article {
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  height: auto;
  margin-bottom: .125em;
}



/*button*/
.product-detail-btn {
  background: #000 !important;
  color: #fff !important;
  width: 100%;
  padding: 60px 0;
  border-radius: none
}

.product-detail-btn:hover {
  background: #201f1f;
}

.quantity-btn {
  background: #000;
  color: #fff !important;
  padding: 10px 20px;
}

.quantity-value {
  padding: 10px;
}



/*accordion*/

 .inputstyle {
   position: absolute;
   opacity: 0;
   z-index: -1;
}

/* Accordion styles */
 .tabs {
   overflow: hidden;
}
 .tab {
   width: 100%;
   color: white;
   overflow: hidden;
}
 .tab-label {
   display: flex;
   justify-content: space-between;
   padding: 1em;
   background: #fff;
   font-weight: bold;
   cursor: pointer;
  /* Icon */
}
 .tab-label:hover {
   background: #ccc;
}
 .tab-label::after {
   content: "\276F";
   width: 1em;
   height: 1em;
   text-align: center;
   transition: all 0.35s;
}
 .tab-content {
   max-height: 0;
   padding: 0 1em;
   color: #2c3e50;
   background: white;
   transition: all 0.35s;
}
 .tab-close {
   display: flex;
   justify-content: flex-end;
   padding: 1em;
   font-size: 0.75em;
   background: #2c3e50;
   cursor: pointer;
}
 .tab-close:hover {
   background: #ccc;
}
 input:checked + .tab-label {
   background: #000;
   color: #fff
}
 input:checked + .tab-label::after {
   transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.select {
  width: 50%;
  min-width: 5ch;
  max-width: 15ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.product-select-section {
  margin: 5% 0
}

.product-select-section .size-select {
  border: 2px solid #000;
  padding: 10px 20px;
  margin-right: 2%
}

.product-select-section .active-select {
  background: #000;
  color: #fff !important;
  padding: 10px 20px;
  margin-right: 2%;
  border: 2px solid #000;
}



@media screen and (min-width: 720px) {
  .product-image-left {
    max-height: 100%;
    overflow: auto;
  }
}

@media (max-width: 600px) {
  .cards {
     position: relative;
     padding: 10px;
     background: #f1f1f1;
     display: grid;
     transition: 0.2s ease-in;
     float: left;
     border: 1px solid #fff;
     margin-bottom: 10px;
  }

  .shop-row {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
  }

  .card-description {
    text-align: center;
    width: 100%;
  }

  .cards .card-content .img {
     width: 100%;
     justify-content: bottom;
     align-content: bottom;
     text-align: center;
  }
   .cards .card-content .img img {
     
  }

  .no-gutter.row,
  .no-gutter.container,
  .no-gutter.container-fluid{
    margin-left: 0;
    margin-right: 0;
  }

  .no-gutter>[class^="col-"]{
    padding-left: 0;
    padding-right: 0;
  }


  .item-box {
    text-align: center
  }
}