

.shipping-text-section {
	height: auto;
	margin: auto;
}

.first-shipping-section h2 {
	font-size: 150px;
	margin-bottom: 2%;
	text-transform: capitalize
}

.first-shipping-section p {
	color: #ccc;
	margin-bottom: 2%;
}

@media (max-width: 767px) {
	.shipping-section {
		margin-top: 20%;
		height: 100%;
		padding: 20px;
	}

	.shipping-image {
		width: 70% !important;
	}

	.shipping-text-section {
		margin-top: 50px;
	}

	.shipping-btn {
	    width: 100%;
	    color: #fff !important;
	    border: none;
	    width: 50%;
	    padding: 20px 15px;
	    background: #000;
	    font-size: 14px;
	    margin-top: 5%;
	}
}

@media (min-width: 768px) {
	.shipping-section{
		padding: 100px;
	}
	
	.first-shipping-section {
		padding: 50px 0;
		height: 400px;
	}
	
	.shipping-btn {
	    width: 40%;
	    color: #fff !important;
	    border: none;
	    width: 50%;
	    padding: 20px 25px;
	    background: #000;
	    font-size: 14px;
	    margin-top: 5%;
	}
}

// .second-shipping-section {
//	background: #000;
//	padding: 50px 0;
//	color: #fff !important;
// }