@media (min-width: 1220px) {
  .shop {
    margin-top: 100px;
  }
  .product-shop-containers {
    padding: 20px 50px;
    margin-bottom: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1219px) {
  .shop {
    margin-top: 9%;
  }
  .product-shop-containers {
    padding: 20px 50px;
    margin-bottom: 20%;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .shop {
    margin-top: 7%;
  }
}

@media (max-width: 600px) {
  .shop {
    margin-top: 11%;
  }
  .product-shop-containers {
    margin-top: 20%;
  }
}



.shop-page {
  .main {
    background-color: $theme-white;
  }

  .shop-toolbar {
    border-radius: $border-radius-primary;
    box-shadow: $box-shadow-primary;
  }
}


.shape-page {
  padding: 20px 300px;
}